* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 600px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  width: 48%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 2%;
  transition: background-color 0.3s ease;
}

button:last-of-type {
  margin-right: 0;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #003d80;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  button {
    width: 100%;
    margin-bottom: 10px;
  }

  button:last-of-type {
    margin-right: 0;
  }
}
